.actions button {
    margin-right: 10px;
}

.close-button {
    background-color: darksalmon;
}

.order-button {
    background-color: lightgreen;
}

.products-list {
    padding: 0;
}

.summary {
    font-size: 1.3rem;
    font-weight: bold;
}
