.header {
    padding: 2rem;
    background-color: white;
    width: 50%;
    margin: 1.8rem auto;
    border-radius: 3rem;
    box-shadow: 5px 5px 20px 2px rgb(234, 231, 231);
    text-align: justify;
}

.header h2 {
    text-align: center;
}

.header img {
    height: 30vh;
    z-index: 1;
    width: 100%;
    object-fit: cover;
    opacity: 78%;
    border-radius: 20px;
}

