.header {
    padding: 2rem;
    background-color: white;
    width: 50%;
    margin: 1.8rem auto;
    border-radius: 3rem;
    box-shadow: 5px 5px 20px 2px rgb(234, 231, 231);
    text-align: justify;
    animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.header h2 {
    text-align: center;
}

.header img {
    height: 30vh;
    z-index: 1;
    width: 100%;
    object-fit: cover;
    opacity: 85%;
    border-radius: 20px;
}

@keyframes slide-bottom {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0px);
    }
}

