.cart-button {
    width: 11rem;
    padding: 5px 0;
    font-style: inherit;
    font-weight: bold;
    font-size: 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 1px 1px 3px 2px #ccc;
    border: none;
}

.cart-button:hover {
    background-color: rgba(106, 199, 183, 0.47);
    cursor: pointer;
}

.icon {
    height: 2.4rem;
}


.quantity {
    background-color: #a3ff89;
    padding: 0.5rem;
    color: black;
    border-radius: 30px;
    width: 3rem;
    font-size: 1.3rem;
}

.text {
    font-size: 1.4rem;
    padding: 9px 9px 9px 0;
    font-family: inherit;
}
