nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5rem;
}

h1 {
    border-radius: 20px;
    padding: 0.7rem;
    font-size: 2.5rem;
}

main {
    background-image: linear-gradient(to bottom left, #f3faf3, #33ff82);
    height: 70vh;
    width: 80%;
    margin: 1rem auto;
    border-radius: 4rem;
    position: relative;
    z-index: 0;
}

