.main {
    background-image: linear-gradient(to bottom left, #f3faf3, #76f6a7);
    height: 70vh;
    width: 90%;
    padding-top: 8rem;
    margin: 1rem auto;
    border-radius: 4rem;
    position: relative;
    top: -8rem;
    z-index: 0;
    animation: slide-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 9rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav h1 {
    font-size: 3rem;
    color: #0e2a01;
    font-family: "Tahoma", serif;
}


@keyframes slide-bottom {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
    }
}


