.custom-shape-divider-bottom-1655897413 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
}

.custom-shape-divider-bottom-1655897413 svg {
    position: relative;
    display: block;
    width: calc(127% + 1.3px);
    height: 87px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1655897413 .shape-fill {
    fill: #FFFFFF;
}