.input input {
    border-radius: 30px;
    border: none;
    height: 2rem;
    text-align: center;

    width: 60%;
}

.input label {
    padding: 0.4rem;
    font-weight: bold;
}

.input {
    margin-bottom: 0.8rem;
}
